%html
  %head
    %title RocketBus
    = favicon_link_tag 'favicon.ico'
    = stylesheet_link_tag 'application'
  %body
    = render 'layouts/header'

    %div.container
      = yield

    = render 'layouts/footer'

    = javascript_include_tag 'application'
